<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>#pageTitle(${title})</title>
    #if($!cssBlock != "")$!cssBlock#end
    <link href="$!{assetsUrl.forPath().build()}/v1/css/nqcx-min.css$!{timeSure}" rel="stylesheet">
    #if($!jsBlock != "")$!jsBlock#end
</head>
<body>
    ${screen_content}
#if($!jsFooterBlock != "")$!jsFooterBlock#end
</body>
</html>
